# Ignore Python cache directory
__pycache__/

# Ignore PyInstaller build directories and files
build/
dist/
*.spec

# Ignore editor specific files
.vscode/

# Ignore environment files
.env
venv/
env/

# Ignore uploaded and processed files
uploads/
outputs/

# Ignore Flask instance folder
instance/
